%h4.text-center О приложении
:markdown
    Приложение реализовывает задание контрольной работы по Web-Технологиям &laquo;Новостной портал Республики Мордовия&raquo;.

    Выполнил студент МГУ им. Н.П. Огарева факультета электронной техники 341 группы Хваталин Максим Михайлович.

    Приложение релизовано на: [AngularJS](http://angularjs.org/) + [Ruby on Rails](http://rubyonrails.org/).
    С использованием: [HAML](http://haml.info/), [SASS](http://sass-lang.com/), [CoffeeScript](http://coffeescript.org/).
    Дополнительные библиотеки: [AngularUI](http://angular-ui.github.io/), [Twitter Bootstrap](http://getbootstrap.com/).

    [Проект на GitHub](http://github.com/khmm12)