%h2.text-center(ng-hide='isLoaded') Идет загрузка...
.news_content
    %h4.text-center(ng-bind='new.title')
    .news_info
        {{new.date | date : 'EEEE, d MMMM, y H:mm'}}
        %a.pull-right(ui-sref=' news.category_all({category_name: getCategory(new).title_latin}) ' ui-sref-opts='{inherit: false}' ng-bind='getCategory(new).title')
    %p
        %div(ng-bind-html=' to_trusted(new.content) ')

%div.comments_block(ng-show='comment')
    %h5 Комментарии:
    %div.new_comment_form
        %button.btn(ng-click="comment.isFormShowen = ! comment.isFormShowen") Оставить комменатарий
        %form.form-horizontal(name='new_comment' data-ng-submit=' comment.post() ' ng-show='comment.isFormShowen')
            .form-group(ng-class=" {true: 'has-error',false: 'is-required'}[new_comment.username.$dirty && new_comment.username.$invalid] ")
                %label.col-sm-3.control-label Ваше имя
                .col-sm-9
                    %input.form-control(ng-model='comment.model.name' name='username' type='text' ng-minlength='3' ng-maxlength='15' ng-required='true')
            .form-group(ng-class=" {true: 'has-error',false: 'is-required'}[new_comment.email.$dirty && new_comment.email.$invalid] ")
                %label.col-sm-3.control-label Ваша почта
                .col-sm-9
                    %input.form-control(ng-model='comment.model.email' name='email' type='email' ng-required='true' )
            .form-group(ng-class=" {true: 'has-error',false: 'is-required'}[new_comment.content.$dirty && new_comment.content.$invalid] ")
                %label.col-sm-3.control-label Ваш комменатарий
                .col-sm-9
                    %textarea.form-control(ng-model='comment.model.content' name='content' type='textarea' ng-minlength='5' ng-required='true')
            .form-group
                .col-sm-offset-3.col-sm-9
                    %button.btn.btn-default(type='submit' ng-disabled='new_comment.$invalid ' ng-class=" {false: 'btn btn-success', true: 'btn btn-default'}[new_comment.$invalid] ") Отправить
    .comments
        .comment(ng-repeat='comment in comments')
            %div
                %span(ng-bind='comment.name')
                |
                %span(ng-bind="comment.date | date: 'EEEE, d MMMM, y H:mm'")
            %div
                %p(ng-bind='comment.content')

