!!!
%html
    %head
        %title MordoviaNews
        = stylesheet_link_tag    'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        = yield
        %footer
            .container
                %p.text-muted.pull-left there is some content...
                %p.text-muted.pull-right ...but it's hidden from your eyes